<!-- footer begin -->
<footer class="section-dark">
    <div class="container relative z-2">
        <div class="row gx-5">
            <div class="col-lg-4 col-sm-6">
                <img src="images/nlogo.png" class="w-150px" alt="">
                <div class="spacer-20"></div>
                <p>Transform your outdoor space with our expert garden services! From design to maintenance, we create
                    beautiful, thriving gardens tailored to your vision. Let us bring your dream garden to
                    life—professional, reliable, and passionate about nature.</p>

                <div class="social-icons mb-sm-30">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About Us</a></li>
                                <li><a href="services">Our Services</a></li>

                                <li><a href="gallery">Gallery</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="widget">
                            <h5>Our Services</h5>
                            <ul>
                                <li><a href="services">Tree Trimming and removal</a></li>
                                <li><a href="services">24/7 Emergency Work</a></li>
                                <li><a href="services">Stump Grinding</a></li>
                                <li><a href="services">Arborist Reports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 order-lg-2 order-sm-1">
                <div class="widget">
                    <div class="fw-bold text-white"><i class="icofont-clock-time me-2 id-color-2"></i>We're Open</div>
                    Monday to Saturday (7:00 AM – 5:00 PM)

                    <div class="spacer-20"></div>

                    <div class="fw-bold text-white"><i class="icofont-location-pin me-2 id-color-2"></i>Office Location
                    </div>
                    52 Mittagong Rd Bowral NSW Sydney 2576 AU

                    <div class="spacer-20"></div>

                    <div class="fw-bold text-white"><i class="icofont-envelope me-2 id-color-2"></i>Send a Message</div>
                    <a href="mailto:alpstreeservice@gmail.com">
                        alpstreeservice@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            Copyright 2025 - Alps Group | Powered by &nbsp; <a href="#" target="_blank">ESS.</a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Faqs</a></li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="images/misc/silhuette-1-black.webp" class="abs bottom-0 op-3" alt="">
</footer>
<!-- footer end -->
</div>

<!-- overlay content begin -->
<div id="extra-wrap" class="text-light">
    <div id="btn-close">
        <span></span>
        <span></span>
    </div>

    <div id="extra-content">
        <img src="images/alpslogo.png" class="w-150px" alt="">

        <div class="spacer-30-line"></div>

        <h5>Our Services</h5>
        <ul class="no-style">
            <li><a href="services">Tree Removal & Trimming</a></li>
            <li><a href="services">24/7 Emergency Work</a></li>
            <li><a href="services">Stump Grinding</a></li>
            <li><a href="services">Arborist Reports</a></li>
        </ul>

        <div class="spacer-30-line"></div>

        <h5>Contact Us</h5>
        <div><i class="icofont-clock-time me-2 op-5"></i>Monday to Saturday (7:00 AM – 5:00 PM)</div>
        <div><i class="icofont-phone me-2 op-5"></i> <a href="tel:+61412345678">
                0402622211
            </a></div>
        <div><i class="icofont-envelope me-2 op-5"></i> <a href="mailto:alpstreeservice@gmail.com">
                alpstreeservice@gmail.com
            </a></div>

        <div class="spacer-30-line"></div>

        <h5>About Us</h5>
        <p>Transform your outdoor space with our expert garden services! From design to maintenance, we create
            beautiful, thriving gardens tailored to your vision. Let us bring your dream garden to life—professional,
            reliable, and passionate about nature.</p>

        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
</div>
<!-- overlay content end -->

<script>

    document.addEventListener("DOMContentLoaded", function () {

        const menuBtn = document.getElementById("menu-btn");
        const extraWrap = document.getElementById("extra-wrap");
        const closeBtn = document.getElementById("btn-close");

        // OPEN MENU
        menuBtn.addEventListener("click", function () {
            extraWrap.classList.add("active");
        });

        // CLOSE MENU
        closeBtn.addEventListener("click", function () {
            extraWrap.classList.remove("active");
        });

    });

</script>
<!-- Javascript Files
    ================================================== -->
<script src="js/plugins.js"></script>
<script src="js/designesia.js"></script>
<script src="js/swiper.js"></script>
<script src="js/custom-swiper-3.js"></script>
<script src="js/custom-marquee.js"></script>

</body>

</html>