<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Welcome to ALPS group for Landscaping &amp; Gardening Solutions</title>
    <link rel="icon" href="images/icon.webp" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Welcome to ALPS group for Landscaping &amp; Gardening Solutions" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files
    ================================================== -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="css/plugins.css" rel="stylesheet" type="text/css">
    <link href="css/swiper.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="css/colors/scheme-01.css" rel="stylesheet" type="text/css">
    <style>
        .padd {
            padding-top: 0px;
        }
    </style>
    <style>
        .dropdown-toggle::after {
            display: none !important;
        }

        @media (max-width: 991px) {
            #menu-btn {
                display: none !important;
            }
        }
    </style>

</head>

<body>
    <div id="wrapper">
        <a href="#" id="back-to-top"></a>

        <!-- preloader begin -->
        <div id="de-loader"></div>
        <!-- preloader end -->

        <!-- header begin -->
        <header class="transparent">
            <div id="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between xs-hide">
                                <div class="d-flex">

                                    <div class="topbar-widget me-3">
                                        <a href="#">
                                            <i class="icofont-clock-time"></i>
                                            Monday to Saturday (7:00 AM – 5:00 PM)
                                        </a>
                                    </div>

                                    <!-- Phone Number -->
                                    <div class="topbar-widget me-3">
                                        <a href="tel:+61412345678">
                                            <i class="icofont-phone"></i>
                                            0402622211
                                        </a>
                                    </div>

                                    <!-- Email -->
                                    <div class="topbar-widget me-3">
                                        <a href="mailto:alpstreeservice@gmail.com">
                                            <i class="icofont-envelope"></i>
                                            alpstreeservice@gmail.com
                                        </a>
                                    </div>

                                </div>

                                <div class="d-flex">
                                    <div class="social-icons">
                                        <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-pinterest fa-lg"></i></a>
                                        <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="#" onclick="window.scrollTo({top:0, behavior:'smooth'}); return false;">
                                        <img class="logo-main" src="images/alpslogo.png" alt="">
                                        <img class="logo-mobile" src="images/alpslogo.png" alt="">
                                    </a>
                                </div>
                                <!-- logo end -->
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu" class="nav">

                                    <li class="nav-item">
                                        <a class="menu-item nav-link" href="index.php">
                                            Home
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="menu-item nav-link" href="#about">About</a>
                                    </li>

                                    <!-- Services with Dropdown -->
                                    <li class="nav-item dropdown">
                                        <a class="menu-item nav-link dropdown-toggle" href="#services"
                                            id="servicesDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Services
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Tree Removal & Trimming</a></li>
                                            <li><a class="dropdown-item" href="#">Arborist Reports</a></li>
                                            <li><a class="dropdown-item" href="#">Stump Grinding</a></li>
                                            <li><a class="dropdown-item" href="#">24/7 Emergency Work</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class="menu-item nav-link" href="#gall">Gallery</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="menu-item nav-link" href="#contact">Contact</a>
                                    </li>

                                </ul>
                                <!-- mainmenu end -->
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="#contact"
                                        style="background-color:#dc3545; color:#fff; padding:10px 20px; border-radius:5px; text-decoration:none; display:inline-block;">
                                        Book Now
                                    </a>
                                    <span id="menu-btn"></span>
                                </div>

                                <div id="btn-extra">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>